html, body {
    height: 100%;
}

body
{
    padding: 0;
	margin:0;
    background: white;
    color: white;
    text-align: center;
    overflow-x: hidden;
}

a
{
    color: inherit;
}

.arkufi
{
    font-family: 'Droid Arabic Kufi', serif;
}

.armada
{
    font-family: 'Mada', sans-serif;
}

.scrolltotop
{
    background-color: rgba(0, 0, 0, 0.7);
    color: #DDDDDD;
    font-size: 250%;
    padding: 1%;
    border-radius: 50px;
    position: fixed;
    bottom: 3%;
    right: 10%;
    cursor: pointer;
}

.header
{
    background-color: transparent;
    width:100%;
    height:13%;
    margin: 0;
}

.sliding_header
{
    display: none;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );

    position: absolute;
    top:23%;
    width: 100%;
    height:auto;
    overflow: auto;
    margin: auto;
    color:#333333;
    text-align: center;
    direction: rtl;
    padding: 5%;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

.sliding_header_close
{
    padding: 1%;
    font-size: 300%;
    margin: 2%;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.contactus_icon
{
    font-size: 120%;
    margin-right: 1%;
}

.logo
{
    cursor: pointer;
    display: none;
    text-align: left;
    position: absolute;
    top:1%;
    left: 4%;
    font-size: 115%;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 50px;
    margin: 1%;
}

.logo:hover
{
    animation-name: logo_anim;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes logo_anim
{
    to
    {
        background-color: rgba(255, 255, 255, 0.15);
    }
}

.logo_title
{
    font-size: 150%;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: white;
    font-family: 'Poiret One', cursive;
}

.logo_info
{
    font-size: 80%;
}

.header_toggle
{
    display: none;
}

.header_button_container
{
    background-color: transparent;
    position: absolute;
    right: 2%;
    font-size: 120%;
    text-align: right;
}

.header_button
{
    text-align: center;
    display: inline;
    cursor: pointer;
    padding-left:7px;
    padding-right:7px;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: thin;
    border-left-style: solid;
    border-left-color: white;
    border-left-width: thin;
    border-radius: 5%;
}

.header_button:hover
{
    animation-name: header_button_anim;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes header_button_anim
{
    to
    {
        background-color: rgba(255, 255, 255, 0.1);
        border-color: transparent;
        padding-bottom: 1%;
        font-weight: bolder;
    }
}

.StartLearningButton
{
    direction: rtl;
    font-weight: bolder;
    font-size: 150%;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 1%;
    color:black;
    background: white;
    width:40%;
    margin: auto;
    border-radius: 7px;
}

.StartLearningButton:hover
{
    background: #EEEEEE;
}

.banner_title
{
    animation-name: banner_title_anim;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    color:white;
    text-align:center;
    font-size:150%;
    margin-top:14%;
    margin-bottom:3%;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    display: inline-block;
    padding: 1%;
}

.section_welcome
{
    background-image: url('../img/section_welcome_cover.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height:100%;
}

.section_singlefeature
{
    background-color: #eeeeee;
    color: #333333;
    display: inline-block;
    width:100%;
    text-align: center;
    direction: rtl;
}

.section_features
{
    direction: rtl;
    background-color: #D7D7E7;
    color: #333333;
    display: inline-block;
    justify-content: center;
    width: 100%;
}

.section_features_element
{
    text-align: right;
    margin-left: 9%;
}

.section_features_icon
{
    margin-left:2%;
    margin-right: 4%;
    font-size:140%;
}

.section_features_links
{
    padding: 7px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #EEEEEE;
    margin: 1%;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.section_socialmedia
{
    background-color: #eeeeee;
    color: #333333;
    display: inline-block;
    justify-content: center;
    width: 100%;
}

.social_media_container
{
    float:left;
    width:50%;
    height:auto;
    text-align: center;
    margin: 0%;
    margin-top: 3%;
    margin-bottom: 5%;
}

.social_media_box
{
    border:none;
    overflow:hidden;
    width: 400px;
    height: 500px;
    -webkit-box-shadow: 3px 8px 37px -2px rgba(0,0,0,0.73);
    -moz-box-shadow: 3px 8px 37px -2px rgba(0,0,0,0.73);
    box-shadow: 3px 8px 37px -2px rgba(0,0,0,0.73);
    border-radius: 2%;
}

.social_media_box:hover
{
    animation-name: social_media_box_anim;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes social_media_box_anim
{
    to
    {
        -webkit-box-shadow: 10px 10px 39px -2px rgba(0,0,0,0.93);
        -moz-box-shadow: 10px 10px 39px -2px rgba(0,0,0,0.93);
        box-shadow: 10px 10px 39px -2px rgba(0,0,0,0.93);
    }
}

.hashtag
{
    font-size: 70%;
    background-color:rgba(0,0,0, 0.1);
    padding: 1%;
    margin: 3%;
    text-decoration: none;
    border-radius: 4%;
}

.hashtag:hover
{
    animation-name: hashtag_anim;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes hashtag_anim
{
    to
    {
        background-color:rgba(0,0,0, 0.2);
    }
}

.moving_section
{
    box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.2), 10px 10px 15px 10px rgba(0, 0, 0, 0.19);
}

.moving_section:hover
{
    animation-name: section_shadow_anim;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes section_shadow_anim
{
    to
    {
        box-shadow: 17px 17px 20px 20px rgba(0, 0, 0, 0.4), 17px 18px 35px 20px rgba(0, 0, 0, 0.3);
    }
}


.section_learning
{
    display: inline-block;
    width:100%;

    background-color: #D7D7E7;
}

.main_explorer
{
    display: flex;
    justify-content: center;
    color: black;
    width: 100%;
    margin-bottom: 7%;
}

.disabled_year_item
{
    cursor: not-allowed;
}

.disabled_year_item_errorbox
{
    position: absolute;
    display: none;
    background-color: rgba(255, 122, 122, 0.9);
    color: #A60C0C;
    padding: 1%;
    border-radius: 20px;
    font-weight: bolder;
    z-index: 1;
}

.item_year
{
    float: left;
    width: 20%;
    background-color: white;
    color:#666666;
    font-size: 130%;

    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1%;
}

.item_year:hover
{
    animation-name: item_year_anim;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes item_year_anim
{
    to
    {
        box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2), 0 5px 19px 0 rgba(0, 0, 0, 0.29);
    }
}

.item_year_img
{
    border-radius: 2%;
    width:100%;
    height: 60%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.item_year_img:hover
{
    animation-name: item_year_img_anim;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes item_year_img_anim
{
    to
    {
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        -o-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}

.item_year_title
{
    font-weight:bolder;
}

.papers
{
    -webkit-box-shadow:
        1px 1px   0 rgba(0,   0,   0,   0.100),
        3px 3px   0 rgba(255, 255, 255, 1.0),
        4px 4px   0 rgba(0,   0,   0,   0.125),
        6px 6px   0 rgba(255, 255, 255, 1.0),
        7px 7px   0 rgba(0,   0,   0,   0.150),
        9px 9px   0 rgba(255, 255, 255, 1.0),
        10px 10px 0 rgba(0,   0,   0,   0.175);
    -moz-box-shadow:
        1px 1px   0 rgba(0,   0,   0,   0.100),
        3px 3px   0 rgba(255, 255, 255, 1.0),
        4px 4px   0 rgba(0,   0,   0,   0.125),
        6px 6px   0 rgba(255, 255, 255, 1.0),
        7px 7px   0 rgba(0,   0,   0,   0.150),
        9px 9px   0 rgba(255, 255, 255, 1.0),
        10px 10px 0 rgba(0,   0,   0,   0.175);
    box-shadow:
        1px 1px   0 rgba(0,   0,   0,   0.100),
        3px 3px   0 rgba(255, 255, 255, 1.0),
        4px 4px   0 rgba(0,   0,   0,   0.125),
        6px 6px   0 rgba(255, 255, 255, 1.0),
        7px 7px   0 rgba(0,   0,   0,   0.150),
        9px 9px   0 rgba(255, 255, 255, 1.0),
        10px 10px 0 rgba(0,   0,   0,   0.175);

    border-radius: 2%;
}

.ruled_paper1
{
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
    background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;

    -webkit-background-size: 100% 20px;
    -moz-background-size: 100% 20px;
    -ms-background-size: 100% 20px;
    -o-background-size: 100% 20px;
    background-size: 100% 20px;
}

.ruled_paper2
{
    background-image:  -webkit-linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)), -webkit-linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)), -webkit-linear-gradient(top, white 0px, white 69px, rgba(255,255,255,0) 70px), -webkit-repeating-linear-gradient(white 0px, white 18px, #A6FFED 19px, white 20px);
    background-image:  -moz-linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)), -moz-linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)), -moz-linear-gradient(top, white 0px, white 69px, rgba(255,255,255,0) 70px), -moz-repeating-linear-gradient(white 0px, white 18px, #A6FFED 19px, white 20px);
    background-image:  -ms-linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)), -ms-linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)), -ms-linear-gradient(top, white 0px, white 69px, rgba(255,255,255,0) 70px), -ms-repeating-linear-gradient(white 0px, white 18px, #A6FFED 19px, white 20px);
    background-image:  -o-linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)), -o-linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)), -o-linear-gradient(top, white 0px, white 69px, rgba(255,255,255,0) 70px), -o-repeating-linear-gradient(white 0px, white 18px, #A6FFED 19px, white 20px);
    background-image:  linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)), linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)), linear-gradient(top, white 0px, white 69px, rgba(255,255,255,0) 70px), repeating-linear-gradient(white 0px, white 18px, #A6FFED 19px, white 20px);
    background-size: 1px, 1px, auto, auto 20px;
    background-repeat: repeat-y, repeat-y, no-repeat, repeat;
    background-position: 90% 0px, 10% 0px, 0px 0px, 0px 0px;
}

.footer
{
    box-shadow: 10px 10px 15px 20px rgba(0, 0, 0, 0.2), 10px 10px 15px 20px rgba(0, 0, 0, 0.19);
    background-color: black;
}

.inner_footer
{
    display: inline-block;
    width:65%;
    border-left-style: solid;
    border-left-color: #333333;
    border-left-width: thin;
    border-right-style: solid;
    border-right-color: #333333;
    border-right-width: thin;
    color: #CCCCCC;
}

.footer_logo
{
    font-size: 100%;
    cursor: pointer;
    text-align: center;
    margin: 3%;
    color: white;
}

.footer_content_box
{
    float: left;
    font-size: 70%;
    text-align: left;
    margin: 3%;
    margin-top: 10%;
    border-left-style: solid;
    border-left-color: #333333;
    border-left-width: thin;
    padding-left: 3%;
}

.footer_links
{
    display: block;
    margin-top: 10%;
    text-decoration: none;
}

.copyright
{
    margin-top: 10%;
    margin-bottom: 3%;
}
