/* small screens */
@media screen and (max-width: 48em)
{
    .scrolltotop
    {
        padding: 2%;
    }

    .logo
    {
        font-size: 100%;
    }

    .header
    {
        height:15%;
    }

    .welcome_text_container
    {
        width: 60%;
    }

    .StartLearningButton
    {
        font-size: 100%;
    }

    .main_explorer
    {
        display: inline-block;
    }

    .item_year
    {
        float: none;
        display: block;
        width: 50%;
        margin: 0 auto;
        margin-bottom: 20%;
    }

    .section_features_links
    {
        display: block;
        text-align: center;
    }

    .social_media_container
    {
        width: 100%;
    }

    .subjects
    {
        display: block;
        width: 70%;
        margin: 0 auto;
        margin-bottom: 10%;
    }

    .actual_menu
    {
        padding: 2%;
        min-width: 85%;
    }

    .menu_item
    {
        margin-right: 3%;
    }

    .classroom_shower
    {
        float: none;
        width: 100%;
    }

    .show_paper
    {
        width:85%;
    }

    .app_logo
    {
        width: 14%;
    }
}
