/* small screens */
@media screen and (max-width: 48em)
{
    .scrolltotop
    {
        padding: 2%;
    }

    .logo
    {
        font-size: 100%;
    }

    .header
    {
        height:15%;
    }

    .header_button_container
    {
        top:11%;
        right: 3%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        z-index: 1;
    }

    .welcome_text_container
    {
        width: 60%;
    }

    .header_toggle
    {
        display: block;
        float:right;
        text-align: right;
        margin:3%;
        color:white;
        background-color:rgba(0, 0, 0, 0.1);
        font-size: 150%;
        padding:1%;
        border-radius: 4%;
    }

    .header_button
    {
        display: block;
    }

    .StartLearningButton
    {
        font-size: 100%;
    }

    .main_explorer
    {
        display: inline-block;
    }

    .item_year
    {
        float: none;
        display: block;
        width: 99%;
        margin: 0%;
        margin-bottom: 20%;
    }

    .section_features_links
    {
        display: block;
        text-align: center;
    }

    .social_media_container
    {
        width: 100%;
    }

    .subjects
    {
        width:100%;
        margin: 0%;
        margin-bottom: 10%;
    }

    .actual_menu
    {
        padding: 2%;
        min-width: 85%;
    }

    .menu_item
    {
        margin-right: 3%;
    }

    .classroom_shower
    {
        float: none;
        width: 100%;
    }

    .show_paper
    {
        width:85%;
    }

    .app_logo
    {
        width: 12%;
    }
}
