html, body {
    height: 100%;
}

body
{
    padding: 0;
	margin:0;

    background-color: #D7D7E7;
}

a
{
    color: inherit;
}

.arkufi
{
    font-family: 'Droid Arabic Kufi', serif;
}

.armada
{
    font-family: 'Mada', sans-serif;
}

.scrolltotop
{
    background-color: #111111;
    color: #DDDDDD;
    font-size: 200%;
    padding: 1%;
    margin-top: 10%;
    text-align: center;
    cursor: pointer;
}

.scrolltotop:hover
{
    background-color: #777777;
    font-weight: bolder;
}

.app_logo
{
    float: right;
    margin-right: 7%;
    width:7%;
    border-radius: 50px;
}

.menu
{
    display: none;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1;
}

.actual_menu
{
    text-align: right;
    direction: rtl;
    min-width: 35%;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    overflow: auto;
    background-color: #EEEEEE;
    padding: 1%;
    border-radius: 3px;
    display: none;
    -webkit-box-shadow: 8px 0px 24px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 0px 24px 1px rgba(0,0,0,0.75);
    box-shadow: 8px 0px 24px 1px rgba(0,0,0,0.75);
}

.menu_space
{
    height: 100%;
    background-color: transparent;
}

.menu_item
{
    text-align: right;
    text-decoration: none;
    display: block;
    border-bottom-style:solid;
    border-bottom-width: thin;
    border-bottom-color: #CCCCCC;
    margin-bottom: 15%;
    border-radius: 2px;
    padding: 2%;
}

.menu_item:hover
{
    animation-name: menu_item_anim;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes menu_item_anim
{
    to
    {
        background-color: #CCCCCC;
        color: #444444;
        border-bottom-width: thick;
        border-bottom-color: #555555;
    }
}

.menu_button
{
    cursor: pointer;
    margin-left: 5%;
}

.close_menu_button
{
    color: #333333;
    font-size: 200%;
    margin-top: 10%;
    margin-bottom: 25%;
    margin-right: 5%;
    cursor: pointer;
    text-align: right;
    display: inline-block;
}

.menu_button_container
{
    color: #333333;
    z-index: 0;
    margin-bottom: 3%;
    width: 100%;
    padding: 1%;
}

.instructions
{
    display: inline-block;
    text-align: right;
    margin-right: 3%;
    padding: 1%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
}

.subject_container
{
    width:100%;
    text-align: center;
}

.subjects
{
    border-radius: 3%;
    display:inline-table;
    color: white;
    background-color: black;
    width: 25%;
    text-align: center;
    margin-right: 4%;
    margin-left: 4%;
    background-color: #CCCCCC;
    -webkit-box-shadow: 3px 8px 37px -2px rgba(0,0,0,0.73);
    -moz-box-shadow: 3px 8px 37px -2px rgba(0,0,0,0.73);
    box-shadow: 3px 8px 37px -2px rgba(0,0,0,0.73);
}

.subject_title
{
    font-family: 'Titillium Web', sans-serif;
    padding:1%;
    font-size: 150%;
    background-color: #EEEEEE;
    color: #555555;
}

.subject_subtitle
{
    margin-bottom: 6%;
    font-family: 'Titillium Web', sans-serif;
    padding:0.5%;
    font-size: 120%;
    background-color: #DDDDDD;
    color: #555555;
}

.subject_element
{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 1.5%;
    font-weight: normal;
    display: inline-block;
    padding: 3%;
    border-style: solid;
    border-width: medium;
    border-radius: 6%;
}

.subject_sample
{
    padding: 5px;
    display: inline-block;
}

.subject_available
{
    background-color: rgba(2, 158, 2, 0.3);
    color: rgba(2, 158, 2, 0.9);
    border-color: rgba(2, 158, 2, 0.7);
    text-decoration:none;
    cursor: pointer;
}

.subject_available:hover
{
    animation-name: subject_available_anim;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes subject_available_anim
{
    to
    {
        border-color:rgba(255, 255, 255, 0.2);;
    }
}

.subject_unavailable
{
    background-color: rgba(255, 0, 0, 0.3);
    color: rgba(255, 0, 0, 0.7);
    border-color: rgba(255, 0, 0, 0.7);
    cursor: not-allowed;
}

.section_show_title
{
    text-align: center;
    color: #555555;
    font-weight:bolder;
    font-size: 270%;
    margin-top: 25%;
    margin-bottom: 5%;
}

.section_show_subtitle
{
    text-align: center;
    background-color: #111111;
    color: #CCCCCC;
    font-weight:bolder;
    font-size: 160%;
    padding: 2%;
}

.show_container
{
    width: auto;
}

.classroom_shower
{
    margin: 0;
    border: 0;
    padding: 0;
    display: block;
    float: left;
    width:50%;
}

.show_paper
{
    width:100%;
    height:1050px;
}

.show_video
{
    display: block;
    width:100%;
    height:350px;
}

.show_loader
{
    border: 0;
    padding: 0;
    margin: 0;
    border-style: none;
}

.loader_error
{
    text-align: center;
    font-size: 200%;
    margin:10%;
    color: #964141;
}
