html, body {
    height: 100%;
}

body
{
    padding: 0;
	margin:0;

    background: rgba(43,43,43,1);
    background: -moz-linear-gradient(left, rgba(43,43,43,1) 13%, rgba(43,43,43,1) 46%, rgba(41,41,41,1) 75%, rgba(41,41,41,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(13%, rgba(43,43,43,1)), color-stop(46%, rgba(43,43,43,1)), color-stop(75%, rgba(41,41,41,1)), color-stop(100%, rgba(41,41,41,1)));
    background: -webkit-linear-gradient(left, rgba(43,43,43,1) 13%, rgba(43,43,43,1) 46%, rgba(41,41,41,1) 75%, rgba(41,41,41,1) 100%);
    background: -o-linear-gradient(left, rgba(43,43,43,1) 13%, rgba(43,43,43,1) 46%, rgba(41,41,41,1) 75%, rgba(41,41,41,1) 100%);
    background: -ms-linear-gradient(left, rgba(43,43,43,1) 13%, rgba(43,43,43,1) 46%, rgba(41,41,41,1) 75%, rgba(41,41,41,1) 100%);
    background: linear-gradient(to right, rgba(43,43,43,1) 13%, rgba(43,43,43,1) 46%, rgba(41,41,41,1) 75%, rgba(41,41,41,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2b2b', endColorstr='#292929', GradientType=1 );
}

.gobackhomepage
{
    margin:2%;
    color: #AAAAAA;
    padding: 1%;
    font-size: 150%;
    font-family: 'Dosis', sans-serif;
    cursor: pointer;
    border-radius: 3%;

    background-color: #222222;
    display: none;
}

.gobackhomepage:hover
{
    background-color: #333333;
    color: #FFFFFF;
}

.subject_container
{
    width:100%;
    text-align: center;
}

.subjects
{
    border-radius: 3%;
    display:inline-table;
    color: white;
    background-color: black;
    width: 25%;
    text-align: center;
    margin-right: 4%;
    margin-left: 4%;
    background-color: #AAAAAA;
    -webkit-box-shadow: 3px 8px 37px -2px rgba(0,0,0,0.73);
    -moz-box-shadow: 3px 8px 37px -2px rgba(0,0,0,0.73);
    box-shadow: 3px 8px 37px -2px rgba(0,0,0,0.73);
}

.subject_title
{
    font-family: 'Titillium Web', sans-serif;
    padding:1%;
    font-size: 150%;
    background-color: #EEEEEE;
    color: #555555;
}

.subject_subtitle
{
    margin-bottom: 6%;
    font-family: 'Titillium Web', sans-serif;
    padding:0.5%;
    font-size: 120%;
    background-color: #CCCCCC;
    color: #555555;
}

.subject_element
{
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    color: white;
    margin: 1.5%;
    color: #444444;
    background-color: #CCCCCC;
    font-weight: normal;
    display: inline-block;
    padding: 3%;
    cursor: pointer;
    border-style: solid;
    border-color: #CCCCCC;
    border-width: thin;
    border-radius: 6%;
}

.section_show
{

}

.section_show_title
{
    text-align: center;
    color: #BBBBBB;
    font-family: 'Dosis', sans-serif;
    font-weight:bolder;
    font-size: 270%;
}

.section_show_subtitle
{
    text-align: center;
    background-color: #111111;
    color: #CCCCCC;
    font-family: 'Dosis', sans-serif;
    font-weight:bolder;
    font-size: 160%;
    padding: 2%;
}

.show_container
{
    width: 100%;
}

.show_paper
{
    border: 0;
    padding: 0;
    margin: 0;
    border-style: none;
    width:100%;
    height:1050px;
}

.show_video
{
    border: 0;
    padding: 0;
    margin: 0;
    border-style: none;
    width:100%;
    height:350px;
}

.loader_error
{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 200%;
    margin:10%;
    color: #964141;
}
