html, body {
    height: 100%;
}

body
{
    padding: 0;
	margin:0;

    background-color: #EEEEEE;
}

.gobackhomepage
{
    margin:1%;
    color: #AAAAAA;
    padding: 1%;
    font-size: 150%;
    font-family: 'Dosis', sans-serif;
    cursor: pointer;
    border-radius: 3%;

    background-color: #111111;
    display: inline-block;
}
.gobackhomepage:hover
{
    background-color: #333333;
    color: #FFFFFF;
}
